{% load i18n %}

<div class="ui justified container">
  <h2>{% blocktranslate %}Erklärungen zum Datenschutz{% endblocktranslate %}</h2>

  <p>{% blocktranslate %}Die in diesen Aufklärungsunterlagen erhobenen Daten werden im Rahmen der Untersuchung in den Datenbanken des Max-Planck-Instituts für Kognitions- und Neurowissenschaften für 10 Jahre nach der letzten Teilnahme an einer Studie gespeichert. Diese Datenbanken sind nach aktuellen Standards gesichert und unterliegen einer strikten Zugangskontrolle. Alle erhobenen Daten werden nur innerhalb des Max-Planck-Instituts für Kognitions- und Neurowissenschaften vertraulich gespeichert und nicht an Dritte herausgegeben, die Daten werden nicht wissenschaftlich ausgewertet oder veröffentlicht.{% endblocktranslate %}</p>


  <h2>{% blocktranslate %}Recht auf Löschung oder Berichtigung von Daten, Auskünfte und Kontaktstellen{% endblocktranslate %}</h2>
  <p>{% blocktranslate %}Es besteht zu jeder Zeit das Recht auf Löschung oder Berichtigung oder Einschränkung der Verarbeitung ihrer erhobenen personenbezogenen Daten, sofern dies zu diesem Zeitpunkt möglich ist. Sie können jederzeit ohne Angabe von Gründen die erteilte Einwilligungserklärung widerrufen. Für den Widerruf Ihrer Einwilligung oder die Löschung ihrer personenbezogenen Daten wenden Sie sich bitte an die Datenbankgruppe des Max-Planck-Instituts für Kognitions- und Neurowissenschaften (db_management@cbs.mpg.de). Eine solche Löschung ist allerdings nur möglich, sofern Ihr Datensatz noch identifiziert werden kann d. h. solange er noch nicht vollständig anonymisiert wurde.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Sie haben zu jeder Zeit ein Auskunftsrecht bzgl. den zu Ihrer Person gespeicherten personenbezogenen Daten. Bitte wenden Sie sich dazu an die Datenbankgruppe des Max-Planck-Instituts für Kognitions- und Neurowissenschaften (db_management@cbs.mpg.de).{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Bei weiteren den Datenschutz betreffenden Fragen kontaktieren Sie bitte die Datenschutzbeauftragte der Max-Planck-Gesellschaft Heidi Schuster (Hofgartenstraße 8, 80539 München, datenschutz@mpg.de). Für Sie besteht ein Beschwerderecht bei der zuständigen Datenschutz-Aufsichtsbehörde (Bayerisches Landesamt für Datenschutzaufsicht (BayLDA), Promenade 27, 91522 Ansbach, poststelle@lda.bayern.de).{% endblocktranslate %}</p>
</div>
