{% load i18n %}

<div class="fourteen wide justified column">
  <h2>{% blocktranslate %}Erklärungen zum Datenschutz{% endblocktranslate %}</h2>
  <p>{% blocktranslate %}Bei diesen Untersuchungen werden personenbezogene Daten von Ihnen erhoben, gespeichert und ausgewertet. Diese beinhalten neben den MRT-Daten beispielsweise Angaben zu Alter und Geburtsdatum, Geschlecht, Gewicht oder auch Angaben zur Gesundheit (z. B. Body-Mass-Index, Vorerkrankungen, ggf. medizinische Befunde, etc.). Die Verwendung der Angaben über Ihre Gesundheit erfolgt nach gesetzlichen Bestimmungen und setzt vor der Teilnahme an der Untersuchung Ihre Einwilligung voraus.{% endblocktranslate %}</p>


  <h3>{% blocktranslate %}Aufzeichnung, Auswertung und Speicherung{% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Die erhobenen Daten werden innerhalb des Max-Planck-Instituts für Kognitions- und Neurowissenschaften zu Forschungszwecken verwendet. Gegebenenfalls werden die Daten zur Auswertung auf zentrale Server der Max-Planck-Gesellschaft (MPG) transferiert. Je nach Experiment können neben den MRT-Daten auch zusätzliche Daten erhoben werden, zum Beispiel Verhaltensmaße, Fragebogendaten, physiologische Messungen, oder EEG-Daten. Details hierzu entnehmen Sie bitte der gesonderten, studien-spezifischen Einwilligung.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Die Aufzeichnung, Auswertung und Speicherung aller Daten erfolgt pseudonymisiert, d. h. anstatt Ihres Namens wird ein Code aus Nummern und/oder Buchstaben verwendet. Die Zuordnung von Codes zu Namen und Kontaktdaten und personenbezogenen Merkmalen kann nur über die interne Datenbank des Max-Planck-Instituts hergestellt werden. Diese Datenbank ist nach aktuellen Standards gesichert und unterliegt einer strikten Zugangskontrolle.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}In einem separaten, speziell gesicherten Archiv wird eine Originalkopie der MRT-Daten (d. h. inklusive Ihres Namens und Geburtsdatums) für 30 Jahre gespeichert, da dies für die Sichtung und Zuordnung der Daten zu möglichen Zufallsfunden erforderlich ist. Zu diesen Daten haben lediglich ausgewählte EDV-Mitarbeiter und die Studienärztinnen/Studienärzte Zugang.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Alle Auswertungen finden nur mit pseudonymisierten Daten statt.{% endblocktranslate %}</p>


  <h3>{% blocktranslate %}Veröffentlichung und Weitergabe{% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Alle erhobenen Daten werden vertraulich behandelt.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Namen und Kontaktdaten werden nur innerhalb des Max-Planck-Instituts für Kognitions- und Neurowissenschaften vertraulich gespeichert und nicht an Dritte herausgegeben. Im Falle einer Veröffentlichung der Ergebnisse von Studien oder einer Weitergabe von personenbezogenen und MRT-Daten geschieht dies pseudonymisiert ohne Verwendung Ihres Namens und Ihrer Kontaktdaten. Das bedeutet, dass außerhalb des Max-Planck-Instituts eine Zuordnung der Daten zu Ihrer Person nicht möglich ist. Weiterhin ist es auch nicht aus den Daten ersichtlich, dass Sie an einer Untersuchung teilgenommen haben.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Die Max-Planck-Gesellschaft tritt für die Etablierung transparenter Arbeitsweisen und Kooperationsformen ein, die häufig unter dem Oberbegriff "Open Science" zusammengefasst werden. Dies betrifft u.a. den Zugang zu wissenschaftlichen Rohdaten - einerseits um die Forschung transparenter und damit diskursiver zu machen, anderseits damit diese Daten als Basis für anschließende Forschung oder neue Fragestellungen dienen können.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Speziell die Aufnahme von MRT-Daten ist aufwendig und kostenintensiv, und diese stellen eine wertvolle Ressource für die Wissenschaft dar. Daher sollen die von Ihnen erhobenen MRT-Daten und assoziierte personenbezogene Merkmale (d. h. Geschlecht, Größe, Gewicht, Alter zum Zeitpunkt der Messung) nicht nach Studienabschluss gelöscht werden, sondern ggf. für andere Forschungsfragestellungen weiter genutzt und/oder mit anderen Wissenschaftlern im In- und Ausland geteilt werden (z. B. an Universitäten oder öffentlichen Forschungseinrichtungen wie anderen Instituten der Max-Planck-Gesellschaft oder der Helmholtz-Gemeinschaft). Möglicherweise werden Ihre pseudonymisierten personenbezogenen Merkmale und die MRT-Daten auch bei Forschungsdaten-Plattformen im Internet eingereicht (bekannte Plattformen und Projekte sind z. B. Openneuro, NITRC, Human Connectom Project, Open Science Foundation). Diese Forschungsdaten-Plattformen ermöglichen Forschern weltweit den Zugriff auf bereits erhobene Daten und ermöglichen damit ergänzende Analysen, Nachbearbeitungen und Wiederholungsanalysen.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Bitte beachten Sie, dass die Weitergabe und Weiternutzung u. U. beinhaltet, dass die Daten den durch europäisches Datenschutzrecht gedeckten Bereich verlassen. Auch die Forschungsdaten-Plattformen, auf denen die Daten gespeichert werden, können sich außerhalb der EU befinden. Einmal auf den Forschungsdaten-Plattformen platziert, werden die Daten öffentlich verfügbar gemacht, d. h. nach einer Anmeldung auf dem Portal können die Daten von Interessierten eingesehen, heruntergeladen und genutzt werden. Ab diesem Zeitpunkt besteht nicht mehr die Möglichkeit, die Nutzung dieser Daten zu kontrollieren, nachträglich einzuschränken oder diese Daten wieder zu löschen.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Wenn Sie mit der beschriebenen Weitergabe ihrer Daten nicht in vollem Umfang einverstanden sind, sollten Sie Ihre Einwilligung zur Teilnahme an dieser Studie nicht erteilen.{% endblocktranslate %}</p>


  <h3>{% blocktranslate %}Recht auf Löschung oder Berichtigung, Auskünfte und Kontaktstellen{% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Es besteht zu jeder Zeit das Recht auf Löschung oder Berichtigung oder Einschränkung der Verarbeitung ihrer erhobenen personenbezogenen Daten, sofern dies zu diesem Zeitpunkt möglich ist. Sie können jederzeit ohne Angabe von Gründen die erteilte Einwilligungserklärung widerrufen. Für den Widerruf Ihrer Einwilligung oder die Löschung ihrer personenbezogenen Daten wenden Sie sich bitte an die Datenbankgruppe des Max-Planck-Instituts für Kognitions- und Neurowissenschaften (db_management@cbs.mpg.de). Eine solche Löschung ist allerdings nur möglich, sofern Ihr Datensatz noch identifiziert werden kann d. h. solange er noch nicht vollständig anonymisiert wurde.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Sie haben zu jeder Zeit ein Auskunftsrecht bzgl. den zu Ihrer Person gespeicherten personenbezogenen Daten. Bitte wenden Sie sich dazu an die Datenbankgruppe des Max-Planck-Instituts für Kognitions- und Neurowissenschaften (db_management@cbs.mpg.de).{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Bei weiteren den Datenschutz betreffenden Fragen kontaktieren Sie bitte die Datenschutzbeauftragte der Max-Planck-Gesellschaft Heidi Schuster (Hofgartenstraße 8, 80539 München, datenschutz@mpg.de). Für Sie besteht ein Beschwerderecht bei der zuständigen Datenschutz-Aufsichtsbehörde (Bayerisches Landesamt für Datenschutzaufsicht (BayLDA), Promenade 27, 91522 Ansbach, poststelle@lda.bayern.de).{% endblocktranslate %}</p>
</div>
