{% load i18n %}

<div class="ui justified container">
  <h2>{% blocktranslate %}Einwilligungserklärung zur Mitwirkung an einer Magnetresonanz-Untersuchung{% endblocktranslate %}</h2>
  <p>{% blocktranslate %}Ich wurde durch Herrn / Frau __________________________ vollständig über die o. g. Untersuchung aufgeklärt.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Ich hatte die Gelegenheit und ausreichend Zeit Fragen zu stellen. Diese wurden zufrieden stellend und vollständig beantwortet, und ich akzeptiere die Antworten.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Ich wurde darauf hingewiesen, dass meine Teilnahme an der MRT-Untersuchung freiwillig ist und, dass ich das Recht habe, diese jederzeit ohne Angabe von Gründen zu beenden, ohne dass mir dadurch Nachteile entstehen.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Ich habe die schriftliche Information zur o.g. Untersuchung erhalten, und ich werde nach meiner Unterschrift eine Kopie meiner unterschriebenen Einwilligungserklärung zur Teilnahme erhalten.{% endblocktranslate %}</p>
  <p><b>{% blocktranslate %}Ich bin damit einverstanden, mich als Begleitperson während einer Magnetresonanz-Untersuchung im Magnetraum aufzuhalten. Ich habe die oben genannten Sicherheitshinweise vollständig verstanden.{% endblocktranslate %}</b></p>
</div>

<table style="margin-bottom: 30px; margin-top: 40px; padding: 0 20px;">
  <tr>
    <td style="vertical-align: top; width: 50%;">
      _________________________________________<br>
      {% blocktranslate %}Ort, Datum{% endblocktranslate %}
    </td>
    <td style="vertical-align: top; width: 50%;">
      _________________________________________<br>
    {% blocktranslate %}Unterschrift Begleitperson (oder gesetzliche/r Vertreter/in{% endblocktranslate %}<sup>[1]</sup>) {% blocktranslate %}[Vor- und Nachname]{% endblocktranslate %}
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td style="padding-top: 35px">
      _________________________________________<br>
      {% blocktranslate %}Name Begleitperson in Druckbuchstaben{% endblocktranslate %}
    </td>
  </tr>
</table>


<div class="ui justified container">
  <p><sup>[1]</sup> <b>{% blocktranslate %}Bei minderjährigen Begleitpersonen:{% endblocktranslate %}</b> {% blocktranslate %}Als Sorgeberechtigte/r bzw. gesetzliche/r Vertreter/in eines/r minderjährigen Begleitperson versichere ich, dass ich auch im Namen des/der zweiten Sorgeberechtigten handle oder alleine sorgeberechtigt bin.{% endblocktranslate %}</p>
</div>


<div class="ui justified container" style="margin-bottom: 150px;">
  <p>{% blocktranslate %}Die Begleitperson wurde von mir über Ziel, Dauer, Ablauf, Nutzen, Risiken und Nebenwirkungen der o. g. Untersuchung aufgeklärt und hat ohne Zwang ihre Einwilligung erteilt.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Freifeld für Notizen:{% endblocktranslate %}</p>
</div>


<table style="padding: 0 20px;">
  <tr>
    <td style="vertical-align: top; width: 50%;">
      _________________________________________<br>
      {% blocktranslate %}Ort, Datum - durch Ärztin/Arzt einzutragen{% endblocktranslate %}
    </td>
    <td style="vertical-align: top; width: 50%;">
      _________________________________________<br>
      {% blocktranslate %}Unterschrift Ärztin/Arzt{% endblocktranslate %} {% blocktranslate %}[Vor- und Nachname]{% endblocktranslate %}
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td style="padding-top: 35px">
      _________________________________________<br>
      {% blocktranslate %}Name Ärztin/Arzt oder MPI-Mitarbeiter/in in Druckbuchstaben{% endblocktranslate %}
    </td>
  </tr>
</table>
