{% load i18n %}

<div class="ui justified container">
  <h2>{% blocktranslate %}Einwilligungserklärung zu TMS/tDCS/tsDCS{% endblocktranslate %}</h2>
  <p>{% blocktranslate %}Ich wurde durch Herrn / Frau __________________________ vollständig über die o. g. Untersuchung aufgeklärt.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Ich hatte die Gelegenheit und ausreichend Zeit Fragen zu stellen. Diese wurden zufriedenstellend und vollständig beantwortet. Ich hatte ausreichend Bedenkzeit und ich akzeptiere die Antworten.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Ich wurde darauf hingewiesen, dass meine Teilnahme an TMS/tDCS/tsDCS-Untersuchungen zu wissenschaftlichen Zwecken freiwillig ist und für mich persönlich keinen unmittelbaren Nutzen hat.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Ich habe das Recht, meine Einwilligung zur Studienteilnahme jederzeit ohne Angabe von Gründen zu beenden, ohne dass mir dadurch Nachteile entstehen.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Ich habe die schriftliche Probandeninformation zu TMS/tDCS/tsDCS-Untersuchung erhalten, und ich werde eine Kopie meiner unterschriebenen Einwilligungserklärung zur Teilnahme erhalten.{% endblocktranslate %}</p>
  <p><b>{% blocktranslate %}Ich bin damit einverstanden, an Untersuchungen zu wissenschaftlichen Zwecken teilzunehmen, unter Verwendung von:{% endblocktranslate %}</b></p>
  <p>O <b>{% blocktranslate %}Transkranielle Magnetstimulation (TMS){% endblocktranslate %}</b></p>
  <p>O <b>{% blocktranslate %}Transkranielle Gleichstromstimulation (tDCS){% endblocktranslate %}</b></p>
  <p>O <b>{% blocktranslate %}Transkutane spinale Gleichstromstimulation (tsDCS){% endblocktranslate %}</b></p>
</div>


<table style="margin-bottom: 30px; margin-top: 40px; padding: 0 20px;">
  <tr>
    <td style="vertical-align: top; width: 50%;">
      _________________________________________<br>
      {% blocktranslate %}Ort, Datum{% endblocktranslate %}
    </td>
    <td style="vertical-align: top; width: 50%;">
      _________________________________________<br>
      {% blocktranslate %}Unterschrift Studienteilnehmer/in (oder gesetzliche/r Vertreter/in{% endblocktranslate %}<sup>[1]</sup>) {% blocktranslate %}[Vor- und Nachname]{% endblocktranslate %}
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td style="padding-top: 35px">
      _________________________________________<br>
      {% blocktranslate %}Name Studienteilnehmer/in in Druckbuchstaben{% endblocktranslate %}
    </td>
  </tr>
</table>


<div class="ui justified container">
  <p><sup>[1]</sup> <b>{% blocktranslate %}Bei minderjährigen Studienteilnehmer/innen:{% endblocktranslate %}</b> {% blocktranslate %}Als Sorgeberechtigte/r bzw. gesetzliche/r Vertreter/in eines/r minderjährigen Studienteilnehmers/in versichere ich, dass ich auch im Namen des/der zweiten Sorgeberechtigten handle oder alleine sorgeberechtigt bin.{% endblocktranslate %}</p>
</div>


<div class="ui justified container" style="margin-bottom: 120px; margin-top: 15px">
  <p>{% blocktranslate %}Der/die Studienteilnehmer/in wurde von mir über Ziel, Ablauf, Nutzen und Risiken von TMS/tDCS-Untersuchungen zu wissenschaftlichen Zwecken aufgeklärt und hat ohne Zwang ihre Einwilligung erteilt.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Ist der/die Studienteilnehmer/in geeignet für TMS?{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Ist der/die Studienteilnehmer/in geeignet für tDCS?{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Ist der/die Studienteilnehmer/in geeignet für tsDCS?{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Freifeld für Notizen:{% endblocktranslate %}</p>
</div>


<table style="padding: 0 20px;">
  <tr>
    <td style="vertical-align: top; width: 50%;">
      _________________________________________<br>
      {% blocktranslate %}Ort, Datum - durch Ärztin/Arzt einzutragen{% endblocktranslate %}
    </td>
    <td style="vertical-align: top; width: 50%;">
      _________________________________________<br>
      {% blocktranslate %}Unterschrift Ärztin/Arzt{% endblocktranslate %} {% blocktranslate %}[Vor- und Nachname]{% endblocktranslate %}
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td style="padding-top: 35px">
      _________________________________________<br>
      {% blocktranslate %}Name Ärztin/Arzt in Druckbuchstaben{% endblocktranslate %}
    </td>
  </tr>
</table>
