{% load i18n %}

<div class="ui justified container">
  <h2>{% blocktranslate %}Informationen für Begleitpersonen{% endblocktranslate %}</h2>
  <p>
    {% blocktranslate %}Sehr geehrte Studienteilnehmerin, sehr geehrter Studienteilnehmer,{% endblocktranslate %}<br>
    {% blocktranslate %}wir bedanken uns für Ihre Bereitschaft, uns als Begleitperson bei einer wissenschaftlichen Studie zur Erforschung des Gehirns unter Ausnutzung der Magnetresonanz-Tomographie (MRT) zu unterstützen.{% endblocktranslate %}
  </p>


  <h3>{% blocktranslate %}Wissenschaftlicher Hintergrund{% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Die MRT wird seit mehr als 30 Jahren in der medizinischen Diagnostik eingesetzt. Sie basiert auf der Ausrichtung der extrem schwachen magnetischen Dipolmomente bestimmter Atomkerne (meist Wasserstoﬀkerne des Gewebewassers) in einem starken Magnetfeld. Durch Einstrahlung eines Hochfrequenz-Felds im Ultrakurzwellen-Bereich (UKW, ähnlich wie beim Rundfunk) kann diese Ausrichtung gestört werden. Mit einer sehr empﬁndlichen Antenne ("Spule") lässt sich dabei ein elektrisches Signal aufzeichnen. Das Signal wird einem Computer zugeführt, der daraus eine bildliche Darstellung des Gehirns errechnet.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Röntgenstrahlen oder radioaktive Stoﬀe sind zur Bilderzeugung nicht erforderlich. Es wird ein Magnetresonanz-Tomograph eingesetzt, der als Medizinprodukt zugelassen ist und die CE- Kennzeichnung besitzt. Eine Besonderheit des Verfahrens ist die Verwendung einer ungewöhnlich großen Magnetfeldstärke: Anders ausgedrückt bedeuten 3 Tesla das 60.000fache Erdmagnetfeld oder das 300fache Feld der kleinen Permanentmagnete, die oft an Kühlschranktüren haften.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Die Untersuchung und die Erhebung von Daten werden durchgeführt, um eine besonders hoch aufgelöste Darstellung des anatomischen Aufbaus des Gehirns, eine detaillierte Abbildung von Hirnfunktionen sowie bessere Einblicke in den Hirnstoﬀwechsel zu erhalten. Daneben versuchen wir, Aufnahmetechniken für die MRT weiterzuentwickeln und die dazu günstigsten Messbedingungen zu bestimmen. Alle dabei gewonnenen Ergebnisse dienen der neurowissenschaftlichen Grundlagenforschung.{% endblocktranslate %}</p>


  <h3>{% blocktranslate %}Wie ist der Untersuchungsablauf?{% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Bei den Untersuchungen werden Sie als Begleitperson neben einem Magnetresonanz-Tomographen sitzen oder stehen. Gegebenenfalls werden Sie aufgefordert, die Probandin/den Probanden zu berühren.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Während der Messung hören Sie laute Klopfgeräusche. Um den Lärm zu dämpfen, erhalten Sie spezielle Ohrstöpsel und zusätzlich einen Kopfhörer oder einen anderen geeigneten Schallschutz. Die Gesamtdauer der Untersuchung beträgt in der Regel 1 Stunde, nicht jedoch länger als 120 Minuten.Während der Untersuchung besteht Sichtkontakt zum MRT-Personal.{% endblocktranslate %}</p>


  <h3>{% blocktranslate %}Welche Risiken hat die Untersuchung?{% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Eine MRT-Untersuchung ist völlig schmerzlos.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Nach derzeitigem Stand der Wissenschaft sind bei der MRT keine schädigenden Wirkungen bekannt. Viele Personen merken den Einfluss des Magnetfelds kaum. Es kann jedoch zu leichten Kreislaufproblemen, Schwindel, Übelkeit (etwa wie bei der Reisekrankheit), dem Auftreten von Lichtblitzen oder Veränderungen in der Geschmacksempfindung kommen. Solche Symptome sind von vorübergehender Natur und verschwinden, sobald Sie den Bereich des Magneten verlassen. Sie treten besonders dann auf, wenn Sie den Kopf heftig bewegen. Wir bitten Sie daher, sich während der gesamten Untersuchung möglichst entspannt und ruhig zu verhalten.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Sollten Sie während der Untersuchung ein Unwohlsein entwickeln, signalisieren Sie dies bitte dem MRT-Personal.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Die Leistung des eingestrahlten Hochfrequenz-Felds wird kontinuierlich überwacht und ist so niedrig, dass keine schädigende Erwärmung des Gewebes erfolgt.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Ein bestimmter Personenkreis darf die MRT-Untersuchunsgkabine nicht betreten. Der beigefügte Fragebogen soll klären, ob Sie als Begleitperson geeignet sind.{% endblocktranslate %}</p>


  <h3>{% blocktranslate %}Was sollten Sie noch wissen?{% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Außer den hier vorgelegten Aufklärungsunterlagen werden im Rahmen der Untersuchung von Ihnen keine weiteren Daten gespeichert.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Die Teilnahme an dieser Untersuchung ist freiwillig. Sie können jederzeit ohne Angabe von Gründen die Teilnahme beenden, ohne dass Ihnen dadurch Nachteile entstehen.{% endblocktranslate %}</p>
  <p><b>{% blocktranslate %}Metallteile können, wenn sie in den Untersuchungsraum gebracht werden, schwere Unfälle verursachen!{% endblocktranslate %}</b></p>
  <p><b>{% blocktranslate %}Legen sie folgende Gegenstände vor der Untersuchung ab:{% endblocktranslate %}</b></p>
  <p>{% blocktranslate %}Uhren, Gürtel, Brieftasche, Geldbörse, Scheckkarten, Handy, Schlüssel, Schmuck, Piercings, Zahnprothesen, Zahnspangen, Brille, Hörgeräte, Haarspangen, Haarteile, Kugelschreiber, sonstige Metallteile und sämtliche Teile aus unbekannten Materialien. Falls Sie eine Brille tragen wollen, muss diese vom MRT-Personal auf Eignung geprüft werden.{% endblocktranslate %}</p>
  <p><b>{% blocktranslate %}Überprüfen Sie bitte vor Betreten der MRT-Kabine zweimal, ob Sie tatsächlich alle Metallteile entfernt haben!{% endblocktranslate %}</b></p>
  <p><b>{% blocktranslate %}Scheckkarten und Datenträger werden in der MRT-Kabine gelöscht!{% endblocktranslate %}</b></p>
  <p>{% blocktranslate %}Vor der Untersuchung werden Sie vom MRT-Personal zu Ihrem Platz begleitet. <b>Während der Untersuchung dürfen Sie den Ihnen zugewiesen Bereich nicht verlassen. Sie dürfen keine elektronischen Schalter oder elektrische Kabel berühren. Berühren sie die Innenwand des Magnettunnels ("Röhre") nicht.</b> Beugen Sie sich bitte keinesfalls in den Magnettunnel. Der Hörschutz darf nicht abgelegt oder entfernt werden. Nach der Untersuchung, bzw. wenn Sie eine Unterbrechung der Untersuchung wünschen, werden Sie aus der Untersuchungskabine begleitet. Bitte folgen Sie den Anweisungen des Bedienpersonals.{% endblocktranslate %}</p>
  <p><b>{% blocktranslate %}Hinweis für Eltern:{% endblocktranslate %}</b> {% blocktranslate %}Sollte Ihr Kind während der Untersuchung unruhig werden bzw. die weitere Teilnahme ablehnen, wird die Untersuchung umgehend beendet und Ihr Kind vom MRT-Personal aus dem Untersuchungsraum geholt. Bitte warten sie bis die Untersuchungsliege aus dem Magneten herausgefahren wurde, bevor sie sich Ihrem Kind zuwenden.{% endblocktranslate %}</p>
</div>
