{% load i18n %}

<div class="fifteen wide justified column">
  <h2>{% blocktranslate %}Informationen zum Untersuchungsablauf und Einwilligungserklärungen{% endblocktranslate %}</h2>
  <p>
  {% blocktranslate %}Sehr geehrte Studienteilnehmerin, sehr geehrter Studienteilnehmer,{% endblocktranslate %}<br>
  {% blocktranslate %}wir bedanken uns für Ihr Interesse, an unseren wissenschaftlichen Studien zur Erforschung des Gehirns oder des Rückenmarks unter Ausnutzung von magnetischen und/oder elektrischen Stimulationsmethoden teilzunehmen. Auf den folgenden Seiten sind relevante Informationen zu den Methoden zusammengefasst.{% endblocktranslate %}
  </p>

  <h3>{% blocktranslate %}Wissenschaftlicher Hintergrund (TMS){% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Die transkranielle Magnetstimulation (TMS) ist eine Methode, bei der mit Hilfe starker Magnetfelder Bereiche des Gehirns stimuliert oder auch gehemmt werden können.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Die TMS wird seit mehr als 30 Jahren sowohl in der neurophysiologischen Forschung als auch in der klinisch-neurologischen Routinediagnostik eingesetzt um gezielt einzelne Hirnfunktionen zu beeinflussen oder die Erregbarkeit des Gehirns zu messen. Die Stimulation erfolgt durch den intakten Schädel hindurch (=transkraniell). Die Stimulationsspule erzeugt dabei kurze, starke Magnetfelder. Die ausgelösten Magnetpulse führen zu einer schmerzlosen Stimulation eines kleinen Bereichs der Gehirnrinde unter dem Zentrum der Stimulationsspule.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Seit der Einführung 1985 sind eine große Zahl von Untersuchungen an Gesunden und neurologischen Patienten nebenwirkungsfrei durchgeführt worden. Hinweise auf histologisch erfassbare oder funktionelle Schädigungen des Gewebes ergaben sich weder im Tierversuch noch aus Gewebeproben von Patienten, die wegen einer Epilepsie operiert wurden und vorher mittels transkranieller Magnetstimulation untersucht worden waren. Durch den Magnetimpuls kommt es zu einer synchronisierten Entladung von bestimmten Zellen (Pyramidenzellen) im Gehirn. Im prädisponierten Gehirn (z.B. bei Patienten mit Epilepsie) könnte dies bei einem Versagen der neurophysiologischen Mechanismen der Begrenzung der Erregungsausbreitung zu einem epileptischen Anfall führen. Daher gelten Epilepsie oder ein epileptischer Anfall in der Vorgeschichte als Ausschlusskriterium.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Seit 1987 wird die repetitive TMS (rTMS) eingesetzt, bei der regelmäßige Reizserien bis zu einer Rate von 50 Hz über demselben Rindenareal appliziert werden. Auch bei diesem Verfahren ist das Anfallsrisiko als sehr gering einzustufen, wenn die publizierten Sicherheitskriterien und Grenzwerte für die Stimulationsprotokolle berücksichtigt werden. Zahlreiche Studien legen außerdem nahe, dass eine gleichzeitige TMS von zwei Hirnarealen genauso gut verträglich ist wie die konventionelle TMS.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Alle im MPI verwendeten TMS und rTMS Protokolle wurden in der Vergangenheit erfolgreich und sicher zur Untersuchung von Hirnfunktionen bei Gesunden und Patienten mit unterschiedlichen Erkrankungen eingesetzt und liegen innerhalb der Grenzen der publizierten Sicherheitsrichtlinien. Alle verwendeten Geräte sind CE-zertifiziert.{% endblocktranslate %}</p>

  <h3>{% blocktranslate %}Wissenschaftlicher Hintergrund (tDCS){% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Die Transkranielle Gleichstromstimulation (engl. Transcranial direct current stimulation, tDCS) ist ein gut verträgliches, nicht-invasives und schmerzloses Verfahren, mit welchem die Hirnaktivität in Arealen des menschlichen Gehirns mittels elektrischer Stimulation beeinflusst werden kann. Dabei wird die Reizschwelle von Nervenzellen in Abhängigkeit der Stimulationsparameter erhöht (anodale Stimulation) bzw. erniedrigt (kathodale Stimulation), was zur Modulation der spontanen Aktivität der Nervenzellen führt. Die Veränderungen der Hirnaktivität können abhängig von der Dauer und der Stromrichtung für Minuten bis Stunden nach der Behandlung anhalten.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Die tDCS wird generell als ein Verfahren mit sehr geringen Nebenwirkungen angesehen.  Probanden mit Kontraindikationen für die tDCS (z.B. intrakranielle Metallteile, implantierte Herz- bzw. Hirnschrittmacher) werden von der Studie im Voraus durch einen Arzt ausgeschlossen. Andere Metallteile in der Nähe der Elektroden (z.B. Haarklammern) werden im Rahmen der Untersuchungsvorbereitung entfernt.{% endblocktranslate %}</p>

  <h3>{% blocktranslate %}Wissenschaftlicher Hintergrund (tsDCS){% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Die transkutane spinale Gleichstromstimulation (eng. Transcutaneous spinal direct current stimulation, tsDCS) ist ein gut verträgliches, nicht-invasives und schmerzloses Verfahren, mit welchem die Aktivität in Arealen des menschlichen Rückenmarks mittels elektrischer Stimulation beeinflusst werden kann. Dabei wird die Reizschwelle von Nervenzellen in Abhängigkeit der Stimulationsparameter erhöht (anodale Stimulation) bzw. erniedrigt (kathodale Stimulation), was zur Modulation der spontanen Aktivität der Nervenzellen führt. Die Veränderungen der Aktivität des Rückenmarks können abhängig von der Dauer und der Stromrichtung für Minuten bis Stunden nach der Behandlung anhalten.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Die tsDCS wird generell als ein Verfahren mit sehr geringen Nebenwirkungen angesehen. Probanden mit Gegenanzeigen für die tsDCS (z.B. Hauterkrankungen, offene Wunden oder Narbengewebe im Elektrodenbereich, Metallteile im Bereich des gesamten Oberkörpers, implantierte Herz- bzw. Hirnschrittmacher, Rückenmarksstimulatoren wie bei chronischen Schmerzpatienten, Schwangerschaft, Epilepsie) werden von der Studie im Voraus durch einen Arzt ausgeschlossen. Andere Metallteile in der Nähe der Elektroden (z.B. an der Kleidung) werden im Rahmen der Untersuchungsvorbereitung entfernt.{% endblocktranslate %}</p>

  <h3>{% blocktranslate %}Wie ist der Untersuchungsablauf? (TMS){% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Während der Untersuchung mit der TMS wird eine Stimulationsspule auf dem Kopf über einem bestimmten Areal des Gehirns aufgelegt und mit kurzen Pulsen oder Reizserien stimuliert. Die Stimulation löst ein kurzes “Klickgeräusch” aus und kann ein kurzes Kribbeln an der Kopfoberfläche verursachen. Je nach Stimulationsort kann es auch zu leichten Zuckungen der Gesichtsmuskulatur kommen. Bei Stimulation der motorischen Hirnrinde können wir den Stimulationseffekt direkt über Muskelaktivierung in der gegenüberlegenden Hand messen. Die Stimulation führt dann dazu, dass sich Ihre Finger kurzzeitig bewegen können. Während der gesamten Sitzung ist ein Versuchsleiter anwesend und überwacht die Stimulation.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Je nach Untersuchung, Stimulationsprotokoll und verwendeter Aufgabe erwarten wir unterschiedliche Effekte der Stimulation. So kann die Stimulation zu einer kurzzeitigen Verbesserung oder Verschlechterung Ihrer Aufgabenleistung führen. Diese Effekte sind jedoch relativ schwach und kurzanhaltend, sodass Sie diese in der Regel nicht selbst bemerken. Für einige Untersuchungen kombinieren wir die TMS mit anderen Methoden, beispielsweise der Ableitung Ihrer Hirnströme mittels EEG. In einigen Sitzungen wird eine ineffektive Kontrollstimulation (Placebobedingung) statt der effektiven TMS verabreicht. Dies ist notwendig, um für nicht-spezifische TMS-Effekte zu kontrollieren (z.B. das Geräusch der Stimulation). Die Placebostimulation fühlt sich ähnlich an wie die effektive TMS, sodass für Sie kein Unterschied zwischen den Bedingungen feststellbar ist. Sie werden am Ende Ihrer Untersuchungsserie über das Ziel der jeweiligen Studie und die Reihenfolge der verschiedenen Bedingungen aufgeklärt.{% endblocktranslate %}</p>

  <h3>{% blocktranslate %}Wie ist der Untersuchungsablauf? (tDCS){% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Die tDCS verwendet einen niedrigen, unterschwelligen und für die Probanden kaum spürbaren elektrischen Gleichstrom. Die Stimulation erfolgt durch den intakten Schädel hindurch (=transkraniell) über am Kopf fixierte Elektroden und evtl. mit Elektrolytlösung getränkten Schwämmchen.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Es ist möglich, dass Sie während der Stimulationsphase ein kurzes Kribbeln auf der Kopfhaut spüren. Dieses Phänomen lässt jedoch in der Regel nach einigen Minuten wieder nach und ist danach nicht mehr zu spüren.{% endblocktranslate %}</p>

  <h3>{% blocktranslate %}Wie ist der Untersuchungsablauf? (tsDCS){% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Die tsDCS verwendet einen niedrigen, unterschwelligen und für die Probanden kaum spürbaren elektrischen Gleichstrom. Die Stimulation erfolgt durch die intakte Wirbelsäule hindurch (=transkutan spinal) über am Rücken fixierte Elektroden und evtl. mit Elektrolytlösung getränkten Schwämmchen. Eine Elektrode wird typischerweise über der Wirbelsäule platziert (dies kann im Nackenbereich oder im unteren Rückenbereich sein) und eine andere Elektrode z.B. an der Schulter, am Bauch, an Brust oder ebenfalls am Rücken.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Es ist möglich, dass Sie während der Stimulationsphase ein kurzes Kribbeln oder einen Juckreiz auf der Haut des Rückens spüren. Dieses Phänomen lässt jedoch in der Regel nach einigen Minuten wieder nach und ist danach nicht mehr zu spüren.{% endblocktranslate %}</p>

  <h3>{% blocktranslate %}Welche Risiken hat die Untersuchung? (TMS){% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Nach derzeitigem Stand der Wissenschaft sind bei der TMS keine schädigenden Kurz- oder Langzeitnebenwirkungen bekannt. Viele Personen merken den Einfluss des Magnetfelds kaum.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Das vom TMS verwendete Magnetfeld kann u.U. zu einer lokalen Stimulation von Muskeln/Muskelgruppen führen (z.B. Kopfhaut, Kaumuskulatur), was sich in unwillkürlichen Muskelzuckungen äußern kann. Gelegentlich kann diese Mitstimulation auch zu vorrübergehenden Spannungskopfschmerzen führen.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Um das sehr selten auftretende Auslösen eines epileptischen Anfalls durch repetitive TMS auszuschließen wurden 1996 von international führenden Experten strenge Anwendungsvorschriften und Stimulationsobergrenzen definiert (International Workshop on the Safety of Repetitive Transcranial Magnetic Stimulation, June 5-7, 1996 (Wassermann, Electroencephal Clin Neurophys 1997)). Bei Beachtung der Sicherheitsrichtlinien und der auf den folgenden Seiten abgefragten Ausschlusskriterien sind Anfallsauslösungen in Forschungsanwendungen sehr unwahrscheinlich.{% endblocktranslate %}</p>

  <h3>{% blocktranslate %}Welche Risiken hat die Untersuchung? (tDCS){% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Die tDCS ist medizinisch unbedenklich und wurde bei Einhaltung der vorgeschriebenen Stimulationsparameter und Beachtung von Kontraindikatoren in einer Vielzahl von klinischen Studien als sicher eingestuft (Bikson et al., „Safety of Transcranial Direct Current Stimulation: Evidence Based Update 2016.“, Brain Stimulation, 2016). Grundsätzlich sind als Folge der Stimulation keine schwerwiegenden Nebenwirkungen oder bleibende Gewebeschäden in der Literatur beschrieben. In sehr wenigen Ausnahmefällen können lediglich leichte, transiente Kopfschmerzen oder Rötungen unterhalb des Elektrodenortes auftreten. Darüber hinaus ist bekannt, dass insbesondere zu Beginn und zu Ende der Stimulation kurz anhaltende Phosphene (Lichtwahrnehmungen im Sehfeld) auftreten können. Das Auftreten dieser Phosphene ist absolut harmlos und birgt keinerlei Gesundheitsschädigungen.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Die Effekte der Hirnstimulation sind vorübergehend und nach einigen Minuten bis maximal wenigen Stunden nicht mehr nachzuweisen.{% endblocktranslate %}</p>

  <h3>{% blocktranslate %}Welche Risiken hat die Untersuchung? (tsDCS){% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Für die tsDCS liegen nach neuesten Erkenntnissen (Antal et al., "Low intensity transcranial electric stimulation: Safety, ethical, legal regulatory and application guidelines", Clinical Neurophysiology, 2017) bei Erwachsenen keine höheren Risiken vor als bei der tDCS – für Kinder und Jugendliche liegen noch keine Daten vor. Grundsätzlich sind als Folge der Stimulation keine schwerwiegenden Nebenwirkungen oder bleibende Gewebeschäden in der Literatur beschrieben. In sehr wenigen Ausnahmefällen können Rötungen oder Hautirritationen unterhalb des Elektrodenortes auftreten.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}Die Effekte der Stimulation des Rückenmarks sind vorübergehend und nach einigen Minuten bis maximal wenigen Stunden nicht mehr nachzuweisen.{% endblocktranslate %}</p>

  <p style="border: 2px solid black; padding: 5px;"><b>{% blocktranslate %}Bitte beachten Sie, dass mit diesen Aufklärungs- und Einwilligungsunterlagen nur Ihre allgemeine Zustimmung zur Teilnahme an TMS/tDCS/tsDCS-Untersuchungen abgefragt wird. Eine studien-spezifische Information und Einwilligung wird Ihnen separat für jedes Experiment ausgehändigt.{% endblocktranslate %}</b></p>
</div>
