{% load i18n %}

<div class="ui container">
  <h3>{% blocktranslate %}Für Trägerinnen eines Intrauterinpessars (IUP, "Spirale"){% endblocktranslate %}</h3>
  <p>{% blocktranslate %}Wenn Sie ein Intrauterinpessar (IUP, “Spirale”) tragen, dann bestätigen Sie bitte die folgenden Erläuterungen:{% endblocktranslate %}</p>
  <p>{% blocktranslate %}"Ich wurde über die Möglichkeit einer Verschiebung des IUPs mit nachfolgendem Verlust der kontrazeptiven/empfängnisverhütenden Wirkung durch die MRT-Untersuchung hingewiesen und bin in Anbetracht dessen mit der MRT-Untersuchung einverstanden. Ich bin bereit, nach der MRT-Untersuchung die Lage meines IUPs gynäkologisch kontrollieren zu lassen."{% endblocktranslate %}</p>
</div>

<table style="margin-bottom: 30px; margin-top: 40px; padding: 0 20px;">
  <tr>
    <td style="vertical-align: top; width: 50%;">
      ____________________________________________<br>
      {% blocktranslate %}Ort, Datum{% endblocktranslate %}
    </td>
    <td style="vertical-align: top; width: 50%;">
      ____________________________________________<br>
      {% blocktranslate %}Unterschrift Studienteilnehmerin (oder gesetzliche/r Vertreter/in{% endblocktranslate %}<sup>[1]</sup>) {% blocktranslate %}[Vor- und Nachname]{% endblocktranslate %}
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td style="padding-top: 35px">
      ____________________________________________<br>
      {% blocktranslate %}Name Studienteilnehmerin in Druckbuchstaben{% endblocktranslate %}
    </td>
  </tr>
<table>

<div class="ui justified container">
  <p><sup>[1]</sup><b>{% blocktranslate %}Bei minderjährigen Studienteilnehmerinnen:{% endblocktranslate %}</b> {% blocktranslate %}Als Sorgeberechtigte/r bzw. gesetzliche/r Vertreter/in eines/r minderjährigen Studienteilnehmers/in versichere ich, dass ich auch im Namen des/der zweiten Sorgeberechtigten handle oder alleine sorgeberechtigt bin.{% endblocktranslate %}</p>
</div>
