{% extends "mediforms/base.html" %}

{% load i18n %}


{% block extra_styles %}
.choices div {width: 50%;}
.choices div:first-child {float: right;}
{% endblock extra_styles %}


{% block body %}
<form action="{% url 'set_language' %}" method="post" style="margin: 20px;">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ redirect_to }}" />
  <select name="language">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
      <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
        {{ language.name_local }} ({{ language.code }})
      </option>
    {% endfor %}
  </select>
  <input type="submit" value="Go" />
</form>

{% block content %}{% endblock %}

{% endblock %}
