{% extends "mediforms/pages/base.html" %}

{% load i18n %}

{% block content %}
<div class="ui centered grid container segment">
  <div class="fourteen wide column">
    <h1>{% blocktranslate %}Einwilligung zur Speicherung meiner Daten{% endblocktranslate %}</h1>
  </div>


  <div class="fourteen wide justified column">
    <p>
      {% blocktranslate with method=method %}Ich willige ein, dass meine Angaben zu Kontaktdaten und personenbezogenen Merkmalen in digitaler Form auf einem institutsinternen Server gespeichert werden und sie für die Klärung der Teilnahme an einer {{ method }}-Studie genutzt werden dürfen. Die Daten werden auf diesem Server für 3 Monate gespeichert und anschließend gelöscht.{% endblocktranslate %}<br>
      {% blocktranslate %}Zu den Kontaktdaten zählen Angaben wie Name, Adresse, Telefonnummer, E-Mail-Adresse, etc. Personenbezogene Merkmale beinhalten Angaben wie Informationen zur Gesundheitshistorie (z.B. Operationen, Erkrankungen, etc.).{% endblocktranslate %}<br>
      {% blocktranslate with method=method %}Sie haben bereits zuvor Interesse an der Teilnahme an Studien des MPI-CBS geäußert und in einer separaten Einwilligung zugestimmt, dass Ihre Kontaktdaten und ausgewählte personenbezogene Daten in der Probandendatenbank des MPI-CBS gespeichert werden. Ihre {{ method }}-Aufklärung sowie Ihre Berechtigung zur Teilnahme an {{ method }}-Studien wird Ihrem Profil hinzugefügt, so dass Sie von WissenschaftlerInnen zu {{ method }}-Studien eingeladen werden können. Den Inhalt der {{ method }}-Aufklärung (spezifisch die von Ihnen gemachten Gesundheitsangeben) können dabei aber nur von einem sehr eingeschränkten Personenkreis eingesehen werden (Studien-ÄrztInnen, Datenbankadministratoren), für andere MitarbeiterInnen des MPI-CBS ist nur die allgemeine Berechtigung zur Teilnahme an {{ method }}-Studien sichtbar.{% endblocktranslate %}
    </p>
    <p>{% blocktranslate %}Wenn die Aufklärung erfolgreich ist, werden die übermittelten Daten in Ihrem Profil in der Probandendatenbank des MPI-CBS für 10 Jahre nach der letzten Teilnahme an wissenschaftlichen Studien gespeichert.{% endblocktranslate %}</p>
    <p>{% blocktranslate with method=method %}Sollte sich während dem Aufklärungsgespräch ergeben, dass Sie nicht an {{ method }}-Studien teilnehmen können oder möchten, werden auch keine Daten aus der {{ method }}-Aufklärung in die Probandendatenbank übertragen, sondern es wird lediglich vermerkt, dass Sie an einer {{ method }}-Aufklärung teilgenommen haben.{% endblocktranslate %}</p>
    <p>
      {% blocktranslate %}Sie haben jederzeit die Möglichkeit, den Eintrag Ihrer Daten in der Datenbank mit Wirkung für die Zukunft löschen zu lassen, Ihre Daten zu berichtigen oder die Verarbeitung einzuschränken. Schreiben Sie dazu bitte einfach eine E-Mail mit dem Betreff „Löschen“ an die Adresse db_management@cbs.mpg.de.{% endblocktranslate %}<br>
      {% blocktranslate %}Sie haben weiterhin das Recht auf Auskunft in Bezug auf die Verarbeitung Ihrer Daten und können diesbezüglich eine E-Mail an die Adresse db_management@cbs.mpg.de schreiben.{% endblocktranslate %}
    </p>
    <p>{% blocktranslate %}Bei weiteren den Datenschutz betreffenden Fragen kontaktieren Sie bitte die Datenschutzbeauftragte der Max-Planck-Gesellschaft Heidi Schuster (Hofgartenstraße 8, 80539 München, datenschutz@mpg.de). Für Sie besteht ein Beschwerderecht bei der zuständigen Datenschutz-Aufsichtsbehörde (Bayerisches Landesamt für Datenschutzaufsicht (BayLDA), Promenade 27, 91522 Ansbach, poststelle@lda.bayern.de).{% endblocktranslate %}</p>
  </div>
</div>
{% endblock content %}
