{% extends "mediforms/pages/base.html" %}

{% load i18n %}


{% block content %}
<div class="ui container">
  <form action="" method="post" style="margin-bottom: 150px;">
    {% csrf_token %}

    {% block introduction %}{% endblock introduction %}

    <div style="border: 2px solid black; padding: 20px; margin-top: 80px;">
      {% block headline_questionaire %}{% endblock headline_questionaire %}
    </div>

    <table style="margin-top: 40px;">
      <tr>
        <td><strong>{{ personal_data_form.first_name.label_tag }}</strong></td>
        <td>{{ personal_data_form.first_name }}</td>
        <td><strong>{{ personal_data_form.last_name.label_tag }}</strong></td>
        <td>{{ personal_data_form.last_name }}</td>
        <td>{{ personal_data_form.height.label_tag }}</td>
        <td>
          {% for error in personal_data_form.height.errors %}
          <strong style="color: red;">{{ error|escape }}</strong>
          {% endfor %}
          {{ personal_data_form.height }}
        </td>
      </tr>
      <tr>
        <td><strong>{{ personal_data_form.date_of_birth.label_tag }}</strong></td>
        <td>
          {% for error in personal_data_form.date_of_birth.errors %}
          <strong style="color: red;">{{ error|escape }}</strong>
          {% endfor %}
          {% for error in form.date_of_birth.errors %}
          <strong style="color: red;">{{ error|escape }}</strong>
          {% endfor %}
          {{ personal_data_form.date_of_birth }}
        </td>
        <td>{{ personal_data_form.birthplace.label_tag }}</td>
        <td>{{ personal_data_form.birthplace }}</td>
        <td>{{ personal_data_form.weight.label_tag }}</td>
        <td>{{ personal_data_form.weight }}</td>
      </tr>
      <tr>
        <td>{{ personal_data_form.gender.label_tag }}</td>
        <td>{{ personal_data_form.gender }}</td>
        <td colspan="4"></td>
      </tr>
      <tr>
        <td>{{ personal_data_form.street.label_tag }}</td>
        <td>{{ personal_data_form.street }}</td>
        <td>{{ personal_data_form.zip_code.label_tag }}</td>
        <td>{{ personal_data_form.zip_code }}</td>
        <td>{{ personal_data_form.city.label_tag }}</td>
        <td>{{ personal_data_form.city }}</td>
      </tr>
      <tr>
        <td>{{ personal_data_form.phone_number.label_tag }}</td>
        <td>{{ personal_data_form.phone_number }}</td>
        <td>{{ personal_data_form.mobile_number.label_tag }}</td>
        <td>{{ personal_data_form.mobile_number }}</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>{{ personal_data_form.email.label_tag }}</td>
        <td>
          {% for error in personal_data_form.email.errors %}
          <strong style="color: red;">{{ error|escape }}</strong>
          {% endfor %}
          {{ personal_data_form.email }}
        </td>
        <td colspan="4"></td>
      </tr>
    </table>

    <div class="ui grid" style="margin-top: 20px;">
      {% for field in questions_form %}
    <div class="left aligned ten wide column">{{ forloop.counter }}. {{ field.label_tag }}</div>
    <div class="left aligned six wide column">{{ field }}</div>
      {% endfor %}
    </div>

    <div class="ui grid" style="margin-top: 50px;">
      <div class="left aligned sixteen wide column">
        <i style="font-size: 22px;">{% blocktranslate %}NUR FÜR VERSUCHSTEILNEHMERINNEN:{% endblocktranslate %}</i>
      </div>

      {% for field in questions_form_women %}
      <div class="left aligned ten wide column">{{ field.label_tag }}</div>
      <div class="left aligned six wide column">{{ field }}</div>
      {% endfor %}
      {% block women_form_extras %}{% endblock women_form_extras %}
    </div>

    <br>
    <br>
    <br>

    <p>{% blocktranslate %}Wenn Sie etwas nicht verstanden haben oder zusätzliche Informationen benötigen, geben wir Ihnen gerne nähere Auskünfte im Gespräch. Bitte fragen Sie uns nach allem, was Ihnen wichtig erscheint.{% endblocktranslate %}</p>


    {% url 'data-storage-consent' method.key as data_storage_consent_url %}
    <p>{{ consent_agreement_form.agreement_participation }} {% blocktranslate with url=data_storage_consent_url %}Ich bestätige, dass die von mir gemachten Angaben in diesem Fragebogen richtig und vollständig sind und habe die <a href="{{ url }}">Einwilligung zur Speicherung meiner Daten</a> zur Kenntnis genommen und willige in diese hiermit ein.{% endblocktranslate %}</p>
    <p>{{ consent_agreement_form.agreement_consents }} {% block agreement_consents_text %}{% endblock agreement_consents_text %}</p>
    <p>
      {% blocktranslate %}Sind alle Angaben richtig?{% endblocktranslate %}<br>
      {% blocktranslate %}Dann drücken Sie bitte jetzt auf <b>"Absenden"</b>.{% endblocktranslate %}<br>
      {% blocktranslate %}Mit dem Klicken auf "Absenden" werden Ihre Angaben an unsere Studienärztinnen gesendet. Ein Speichern oder Ausdrucken der Unterlagen Ihrerseits ist nicht nötig.{% endblocktranslate %}
    </p>


    <button class="ui primary button" style="margin-top: 20px;">{% blocktranslate %}Absenden{% endblocktranslate %}</button>
  </form>
</div>
{% endblock content %}
