{% extends "mediforms/pages/base.html" %}

{% load i18n %}


{% block content %}
<div class="ui centered grid container segment">
  <div class="fourteen wide column">
    <p>
    {% blocktranslate with first_name=first_name last_name=last_name %}Sehr geehrte/r {{ first_name }} {{ last_name }}{% endblocktranslate %},<br>
    {% blocktranslate with email=email %}Ihr ausgefüllter Fragebogen wird Ihnen jetzt als PDF-Datei an die von Ihnen angegebene Email-Adresse {{ email }} zugestellt. Bitte halten Sie den Fragebogen für das Arztgespräch zur Aufklärung bereit.{% endblocktranslate %}
    </p>
    <p>
    {% blocktranslate %}Haben Sie Interesse an weiteren Studien?{% endblocktranslate %}<br>
    {% blocktranslate %}Dann geht’s hier entlang:{% endblocktranslate %} <a href="https://www.cbs.mpg.de/aktuelles/studienteilnehmer">https://www.cbs.mpg.de/aktuelles/studienteilnehmer</a>
    </p>
  </div>
</div>
{% endblock content %}
