{% with id=widget.attrs.id %}
<div {% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
    {% for group, options, index in widget.optgroups|slice:"1:" %}
    {% for option in options %}
    <div>{% include option.template_name with widget=option %}</div>
    {% endfor %}
    {% endfor %}
</div>
{% endwith %}
