<!DOCTYPE html>

<html>
  <head>
    <title>Mediforms - MPI CBS Leipzig</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>

    <script src=" https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js "></script>
    <link href=" https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css " rel="stylesheet">

    <style>
      body {font-family: sans-serif;}

      h1, h2, h3 {color: #0070c0;}
      h1, h2 {text-align: center;}

      table {width: 100%;}

      span.bolder {font-weight: bolder;}

      {% block extra_styles %}{% endblock extra_styles %}
    </style>
  </head>

  <body>
    {% block body %}{% endblock body %}
  </body>
</html>
