<div style='float: right;'>
    logged in as: {{ request.user }} (<a href='{% url 'logout' %}'>logout</a>)
</div>


<form method='post'>
    {% csrf_token %}

    {{ form.as_p }}
    <button>Create</button>
</form>


{% if token %}
{{ method }}: https://{{ request.get_host }}{% url 'form' token=token %}
{% endif %}
