<form action="{% url 'login' %}" method="post">
    {% csrf_token %}

    <input type="hidden" name="next" value="{{ next }}">

    <table>
        {{ form.as_table }}
    </table>

    <input type="submit" value="login">
</form>
