{% extends "mediforms/base.html" %}

{% block body %}
<br>

<h1>Geschafft !</h1>

<br>
<br>

<div class="ui justified container">
    <p>Vielen Dank, dass Sie sich die Zeit genommen haben, unseren Fragebogen auszufüllen.</p>
    <p>Sofern Sie im Formular mit den Kontaktdaten eine E-Mail Adresse angegeben haben, erhalten Sie in Kürze eine E-Mail mit Links zu allen Informationsseiten. Dort haben Sie die Möglichkeit, den Ablauf der Untersuchung sowie unsere Datenschutzrichtlinien noch einmal in Ruhe nachzulesen.</p>
    <p>Wenn Sie persönlich in unser Institut zur Messung kommen, erhalten Sie alle relevanten Informationen sowie den Fragebogen in gedruckter Form zur Unterschrift vorgelegt. Gerne überreichen wir Ihnen auf Anfrage eine Kopie des unterzeichneten Exemplars für Ihre eigenen Unterlagen.</p>
    <p>Sie können diese Seite nun schließen.</p>
</div>
{% endblock %}
