<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <style>
      td {padding-right: 25px;}
    </style>
    <title>Token overview</title>
  </head>

  <body>
    <table>
      <tr>
        <th>ID</th>
        <th>Method</th>
        <th>pseudonym</th>
        <th>Created at</th>
        <th>Created by</th>
      </tr>

      {% for token in tokens %}
      <tr>
        <td>{{ token.id }}</td>
        <td>{{ token.method }}</td>
        <td>{{ token.pseudonym }}</td>
        <td>{{ token.created_at }}</td>
        <td>{{ token.created_by }}</td>
      </tr>
      {% endfor %}

    </table>
  </body>
</html>
